<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rjh.mootaz_pfe">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login" />
        <activity android:name=".Home" />
        <activity android:name=".Principale" />
        <activity android:name=".new_user" />
        <activity android:name=".new_act" />
        <activity android:name=".new_admin" />
        <activity android:name=".login_act" />
        <activity android:name=".login_user" />
        <activity android:name=".generale" />
        <activity android:name=".addnew" />
        <activity android:name=".userhome" />
        <activity android:name=".acthome" />
        <activity android:name=".new_q" />
        <activity android:name=".new_rep" />
        <activity android:name=".modify"></activity>
    </application>

</manifest>